<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parham Panahi's Research Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="container">
        <div class="details">
            <h1>Parham M. Panahi</h1>
            <div>
                <p>Research Assistant<br>
                <i>Department of Computing Science</i><br>
                <i>University of Alberta</i><br></p>
            </div>
            <div>
                <p>
                    <a href="mailto:parham1@ualberta.ca">parham1@ualberta.ca</a><br>
                </p>
            </div>
            <div>
                <p>
                    I am a machine learning and reinforcement learning researcher at the University of Alberta, working with <a href="http://adamwhite.ca/" target="_blank">Adam White</a>.
                    I am also affiliated with the <a href="http://rlai.ualberta.ca/" target="_blank">RLAI lab</a> and the Alberta Machine Intelligence Institute (<a href="https://www.amii.ca" target="_blank">amii</a>).
                    Before that, I graduated with a M.Sc. in Computing Science from the University of Alberta in 2024.
                </p>
            </div>

            <div class="research-section">
                <h2>Research</h2>

                <br/>Keywords: <i>Deep Reinforcement Learning, Data-Efficient Machine Learning, Continual Learning, Model-Based RL</i><br/><br/>

                I am broadly interested in machine learning and reinforcement learning. My research goal is to create efficient and reliable learning systems capable of continual interaction and decision-making in a changing world.
            </div>

            <div class="publication-section">
[[publications]]
            </div>
            <div class="links-section">
                <h2>Useful Links</h2>
                <ul>
                    <li><a href="docs/cv.pdf" target="_blank">Curriculum vitae</a></li>
                    <li><a href="https://scholar.google.ca/citations?user=LCRB4rcAAAAJ&hl=en" target="_blank">Google Scholar</a></li>
                    <li><a href="https://www.linkedin.com/in/parham-mohammad-panahi-216941175/", target="_blank">Linkedin</a></li>
                    <li><a href="https://github.com/panahiparham", target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <!-- <img src="img/portrait.JPG" width="250"> -->
            <img src="img/parham-may24.jpeg" width="300">
        </div>
    </div>

</body>
</html>

